<div class="row">

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <!--<app-dashboard-side-nav></app-dashboard-side-nav>-->
    </div>

    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <md-toolbar class="toolbar">

            <button class="toolbuttons" md-button routerLink='/dashboard/orgnizations' routerLinkActive="activeTab">
            <b>ORGANIZATIONS</b></button>

            <button md-button routerLink='/dashboard/history' routerLinkActive="activeTab" class="toolbuttons">
            <b>HISTORY</b></button>

            <span class="spacer"></span>

            <button md-button class="toolbuttons">Logout</button>
        </md-toolbar>
    </div>

</div>
<div class="row" style="position: relative;">
    <router-outlet></router-outlet>
</div>