<div>
    <md-nav-list dense class="fixedSideNav">
        <div class=" text-center " style="margin-bottom: 15px;margin-top: 15px;">
            <!--<img class="logo " src="assets/images/splash_logo.png ">-->
            <button md-button class="logo">yolo</button>
        </div>
        <md-divider></md-divider>

        <div class="mdlist">
            <a md-list-item routerLink='/dashboard/orgnizations/list' routerLinkActive="activeSideNav">
                <h5>List</h5>
            </a>
        </div>
        <div class="mdlist">
            <a md-list-item routerLink='/dashboard/orgnizations/new' routerLinkActive="activeSideNav">
                <h5>Add New</h5>
            </a>
        </div>
        <div class="mdlist">
            <a md-list-item>
                <h5>Stats</h5>
            </a>
        </div>
    </md-nav-list>
</div>