<!-- will be use ng-repeat here-->
<div style="overflow:y">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 space">
        <md-card class="orgCard">
            <md-card-header>
                <md-card-title>Happy Motors </md-card-title>
                <md-card-subtitle>Delhi</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="/src/assets/images/me.jpg">
        </md-card>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 space">
        <md-card class="orgCard">
            <md-card-header>
                <md-card-title>Happy Motors </md-card-title>
                <md-card-subtitle>Delhi</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="/src/assets/images/me.jpg">
        </md-card>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 space">
        <md-card class="orgCard">
            <md-card-header>
                <md-card-title>Happy Motors </md-card-title>
                <md-card-subtitle>Delhi</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="/src/assets/images/me.jpg">
        </md-card>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 space">
        <md-card class="orgCard">
            <md-card-header>
                <md-card-title>Happy Motors </md-card-title>
                <md-card-subtitle>Delhi</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="/src/assets/images/me.jpg">
        </md-card>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 space">
        <md-card class="orgCard">
            <md-card-header>
                <md-card-title>Happy Motors </md-card-title>
                <md-card-subtitle>Delhi</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="/src/assets/images/me.jpg">
        </md-card>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 space">
        <md-card class="orgCard">
            <md-card-header>
                <md-card-title>Happy Motors </md-card-title>
                <md-card-subtitle>Delhi</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="/src/assets/images/me.jpg">
        </md-card>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 space">
        <md-card class="orgCard">
            <md-card-header>
                <md-card-title>Happy Motors </md-card-title>
                <md-card-subtitle>Delhi</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="/src/assets/images/me.jpg">
        </md-card>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 space">
        <md-card class="orgCard">
            <md-card-header>
                <md-card-title>Happy Motors </md-card-title>
                <md-card-subtitle>Delhi</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="/src/assets/images/me.jpg">
        </md-card>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 space">
        <md-card class="orgCard">
            <md-card-header>
                <md-card-title>Happy Motors </md-card-title>
                <md-card-subtitle>Delhi</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="/src/assets/images/me.jpg">
        </md-card>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 space">
        <md-card class="orgCard">
            <md-card-header>
                <md-card-title>Happy Motors </md-card-title>
                <md-card-subtitle>Delhi</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="/src/assets/images/me.jpg">
        </md-card>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 space">
        <md-card class="orgCard">
            <md-card-header>
                <md-card-title>Happy Motors </md-card-title>
                <md-card-subtitle>Delhi</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="/src/assets/images/me.jpg">
        </md-card>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 space">
        <md-card class="orgCard">
            <md-card-header>
                <md-card-title>Happy Motors </md-card-title>
                <md-card-subtitle>Delhi</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="/src/assets/images/me.jpg">
        </md-card>
    </div>
</div>