<!-- will be use ng-repeat here-->

<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 space">
    <md-card class="orgCard">
        <md-card-header>
            <md-card-title>Happy Motors </md-card-title>
            <md-card-subtitle>Delhi</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="/src/assets/images/me.jpg">
    </md-card>
</div>

<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 space">
    <md-card class="orgCard">
        <md-card-header>
            <md-card-title>Happy Motors </md-card-title>
            <md-card-subtitle>Kanpur</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="/src/assets/images/me.jpg">
    </md-card>
</div>